.myGrid {
width: 800px;
height: 205px;
}

.tracks{
list-style-type: none;
}

@supports (-webkit-appearance:none) {
.alignPos{
vertical-align: -webkit-baseline-middle;
}
}
.spacer20{
margin-top: 10px;
margin-bottom: :10px;
}